

<script>
	var array = [];
	var i = 0;
	function deleteRow(row)
	{
	    var i=row.parentNode.parentNode.rowIndex;
	    document.getElementById('lecTable').deleteRow(i);
	}


	function insRow()
	{
		var arrid = 'array'+i;
	    console.log( 'hi');
	    var x=document.getElementById('lecTable');
	    var new_row = x.rows[1].cloneNode(true);
	    var len = x.rows.length;

	    // var lec = document.getElementById("lecTable").rows[len-1].cells[1].firstChild.value;
	    // console.log("mhai_eiei"+lec);
	    // array.push(lec);	 

	    new_row.cells[0].innerHTML = len;
	    
	    var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
	    inp1.id += len;
	    inp1.value = '';
	   	x.appendChild( new_row );
	   	i++;
	 
	}
</script>

<form action="/editsubjects" method="post" id = "myForm" >
	
	<label>subject Code:</label>
		<input type="text" tabindex="1" placeholder="Enter subject code"  name="sub_code" id ="sub_code" value ="{{subject.sub_code}}"><br>
	<label>subject name:</label>
		<input type="text" tabindex="1" placeholder="Enter subject name"  name="sub_name" id ="sub_name" value ="{{subject.sub_name}}"><br>		
	<label>subject credit:</label>
		<input type="text" tabindex="1" placeholder="Enter subject credit" name="sub_credit" id="sub_credit" value ="{{subject.sub_credit}}" ><br>	

	<label>subject lecturer:</label></br>
	

	<div class = "datagrid">
    <table  id="lecTable" >
		<thead>
			<tr>
				<th>Index</th>
				<th>Lecturer name</th>
				<th>Delete</th>
									
			</tr>
		</thead>
		<tbody>
		{{#each subject.sub_lecter}}
	        <tr>
	            <td>{{inc @index}}</td>
	            <td><input  type="text" name="sub_lecter" id="latbox" value="{{this}}"/></td>
	            <td><input type="button" id="delPOIbutton" value="Delete" onclick="deleteRow(this)"/></td>
	            
	        </tr>
        {{/each}}
        </tbody>
   	</table>
   	</div>
   	<input type="button" id="addmorePOIbutton" value="Insert" onclick="insRow()"/></br>
   	</br>
   	<input type="submit" class="btnLogin" value="Add Subject" tabindex="1">


</form>