<!-- {{ user.local.title }}
{{level }}

{{education.level}} -->

<form action="/editedu?id={{ index }}" method="post" >	
		
	<label>Email</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Email Address" name="email" value ="{{ user.local.email }}" readonly><br>
	<label>Level:</label>
	  <input type="text" tabindex="1" placeholder="Enter Your level" name="level" value ="{{ education.level }}"  required><br>
	<label>Degree:</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Degree" name="degree" value ="{{ education.degree }}" required><br>
	<label>University:</label>
	  <input type="text" tabindex="1" placeholder="Enter Your University" name="university" value ="{{ education.university }}" required><br>
	<label>Year:</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Year" name="year" value ="{{ education.year }}" required><br>
	    
	<footer>
	  <input type="submit" class="btnLogin" value="Edit" tabindex="1">
	</footer>
</form>