<!-- {{ user.local.title }}
{{	user }}
{{	user.education 	}} -->
 <div class="col-md-8">
 				
                <h3>Education</h3>
                <br>
                <form class="form-horizontal" role="form">
                    </div>

                    <div id="tab_2"><table class="tablesorter">
                    <thead>
                        <tr>
                        <th>Index</th>
                        <th><a href="javascript:table_sort('tab_2',1)">Level</a></th>
                        <th><a href="javascript:table_sort('tab_2',2)">Degree</a></th>
                        <th><a href="javascript:table_sort('tab_2',3)">University</a></th>
                        <th><a href="javascript:table_sort('tab_2',4)">Year</a></th>
                        <th><a href="javascript:table_sort('tab_2',6)">Edit</a></th>
                        <th><a href="javascript:table_sort('tab_2',6)">Delete</a></th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each user.education}}
                        <tr>                       
                        <td>{{inc @index}}</td>
						<td>{{level}}</td>
						<td>{{degree}}</td>
						<td>{{university}}</td>
						<td>{{year}}</td>
                        <td><a href='/editeducation?id={{@index}}&user={{getname}}'><button class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit"></span></button></a></td>
						<td><a href='/deledu?id={{id}}&user={{getname}}'><button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></button></a></td>
                        </tr>
                        <tr>
                    {{/each}}  
                    </tbody>
                    </table>
                    </div>
                    
                    
                    <!-- end: table full -->
                    <div class="table-foot muffin"> 
                        
                        <div class="pull-right">
                        
                        
                        <div class="btn-group">
                            <a href = "/addedu?user={{user.local.username}}"><button id="tab_2_add" class="btn btn-primary" type="button">Add</button></a>
                        </div>
                        
                                    
                        </div>
                        
                        
                        
                    </div>

                </form>
                

        </div>



