<td>
				<img src="/image.png"   name="userimage" id="userimage"  />
				<br>
				<div class="span12">
					<label><strong>Title:</strong> {{ user.local.title }}</label><br>
					<label><strong>Name:</strong> {{ user.local.name }}</label><br>
					<label><strong>Position:</strong> {{ user.local.position }}</label><br>
					<label><strong>Gender:</strong> {{ user.local.gender }}</label><br>
					<label><strong>Email:</strong> {{ user.local.email }}</label> <br>
					<label><strong>Salary:</strong> {{ user.local.salary }}</label><br>
					<label><strong>Year Attended:</strong> {{ user.local.yearattend }}</label><br>
					<label><strong>Faculty:</strong> {{ user.local.faculty }}</label><br>
					
					
				</div>
				
				<br>
				<div class="span4">
					<label><a href="/edit"><strong>Update Profile</strong></a></label>
				</div>
			</td>