<br>
<br>
<br>
	<div class="main-panel" style="padding-left: 5px; padding-right: 5px; position: absolute;  margin-left: 980px; width: 270px; height: 400px;
	background-color: #999;">
	  <h3>Workflow config</h3>
	  <div style="margin-top: 10px">
		<b>Name</b><br>
		<input type="text" class="form-control" id="workflow-name" value="{{wfName}}">
	  </div>
	  <div style="margin-top: 10px">
		<b>Description</b><br>
		<input type="text" class="form-control" id="workflow-description" value="{{wfDescription}}">
	  </div>
	  <div style="margin-top: 10px">
		<b>Workflow variables</b>
		 <button type="button" onclick="startAddVariable()" class="btn btn-success btn-sm" data-toggle="modal" data-target="#mainPopup">Add variable</button>
	  </div>

	  <table class="table table-hover">
		<thead>
		  <tr>
			<th>Name</th>
			<th>Type</th> 
			<th>Value</th>
		  </tr>
		</thead>
		<tbody id="variable-list">
		</tbody>
	  </table>

	<div id="mainPopup" class="modal fade" role="dialog">   
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header"></div>
				<div class="modal-body"></div>
				<div class="modal-footer"></div>
			</div>
		</div> 
	</div>

	</div>


	<div class="setting-popup">   
	</div>

 <div class="content" style="margin-left: 15px; background: #DDD; max-width: 950px" id="js-drop-zone">

	<div class="message intro">
	  <div class="note">
		Drop BPMN diagram from your desktop or <a id="js-create-diagram" href>create a new diagram</a> to get started.
	  </div>
	</div>

	<div class="message error">
	  <div class="note">
		<p>Ooops, we could not display the BPMN 2.0 diagram.</p>

		<div class="details">
		  <span>cause of the problem</span>
		  <pre></pre>
		</div>
	  </div>
	</div>

	<div class="canvas" id="js-canvas">
	  <div class="panel">
	</div>
</div>

  <ul class="buttons">
	<li>
	  Save
	</li>
	<li>
	  <a id="js-download-diagram" href title="download BPMN diagram">
		Save BPMN Diagram
	  </a>
	</li>
	<li>
	  <a id="js-download-svg" href title="download as SVG image">
		SVG image
	  </a>
	</li>
	<li>
	  <a id="load-diagram" href title="Load diagram">
		Load diagram
	  </a>
	</li>
  </ul>
<script>
  	
  	var loadedDiagramXML = {{{loadedDiagramXML}}};
	var myVariables = {{{wfVariables}}};
	var currentElementId = null;
	var myElements = {{{wfDetails}}};
	var currentVariableId = -1;

	var popupHeaderPrefix = '<button type="button" class="close" data-dismiss="modal">&times;</button>';
	
	var popupHtmlList = {

		'addVariable': {
			header: 'Add variable',
			body: `<div>
					<b>Name</b><br><input type="text" id="variable-name">
				  </div>
				  <div>
					<b>Type</b>
					<br>
					<select id="variable-type">
					  <option value="Text">Text</option>
					  <option value="Number">Number</option>
					</select>
				  </div>
				  <div>
					<b>Initial Value</b><br><input type="text" id="variable-value">
				  </div>`,
			footer: `	<button type="button" onclick="doAddVariable()" class="btn btn-default" data-dismiss="modal">Add</button>
			  			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>`
		},

		'editVariable': {
			header: 'Edit variable',
			body: `<div>
					<b>Name</b><br><input type="text" id="variable-name">
				  </div>
				  <div>
					<b>Type</b>
					<br>
					<select id="variable-type">
					  <option value="Text">Text</option>
					  <option value="Number">Number</option>
					</select>
				  </div>
				  <div>
					<b>Initial Value</b><br><input type="text" id="variable-value">
				  </div>`,
			footer: ` <button type="button" onclick="doEditVariable()" class="btn btn-default" data-dismiss="modal">Edit</button>
					  <button type="button" onclick="doDeleteVariable()" class="btn btn-default" data-dismiss="modal">Delete</button>
					  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>`
		},

		'selectForm': {
			header: 'Select form',
			body: '<div class="form-list"></div>',
			footer: '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>'
		},

		'mapInput': {
			header: 'Input mapping',
			body: '<input id="input-mapping-first" type="text" size="10"> <-- <input id="input-mapping-second" type="text" size="10">',
			footer: `<button type="button" onclick="doMap(true)" class="btn btn-default" data-dismiss="modal">Add</button>
			  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>`
		},

		'mapOutput': {
			header: 'Output mapping',
			body: '<input id="output-mapping-first" type="text" size="10"> <-- <input id="output-mapping-second" type="text" size="10">',
			footer: `<button type="button" onclick="doMap(false)" class="btn btn-default" data-dismiss="modal">Add</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>`
		},

		'selectService': {
			header: 'Select service',
			body: '<div class="service-list"></div>',
			footer: '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>'
		},

		'viewService': {
			header: 'View service detail',
			body: '<div class="service-detail"></div>',
			footer: '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>'
		},

		'addCondition': {
			header: 'Add condition',
			body: `	<div>
						<b>Name</b><br><input type="text" id="condition-name">
				  	</div>
				  	<div>
				  		<b>Condition</b><br><input type="text" id="condition-content">
				  	</div>`,
			footer: `	<button type="button" onclick="doAddCondition()" class="btn btn-default" data-dismiss="modal">Add</button>
			  			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>`
		},

		'selectRole': {
			header: 'Select role',
			body: '<div class="role-list"></div>',
			footer: '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>'
		}

	}


	function setPopupDialog( popupName ){

		var popupHeader = $('#mainPopup').find('.modal-header');
		var popupBody = $('#mainPopup').find('.modal-body');
		var popupFooter = $('#mainPopup').find('.modal-footer');

		popupHeader.html( popupHeaderPrefix + '<h4 class="modal-title">' + popupHtmlList[popupName].header + '</h4>' );
		popupBody.html( popupHtmlList[popupName].body );
		popupFooter.html( popupHtmlList[popupName].footer );

	}

	function clearPopupDialog(){

	}


	function startAddVariable(){
		setPopupDialog('addVariable');
	}

	function doAddVariable(){
		var variableName = $('#mainPopup').find('#variable-name');
		var variableType = $('#mainPopup').find('#variable-type');
		var variableValue = $('#mainPopup').find('#variable-value');

		myVariables.push({
			name: variableName.val(),
			type: variableType.val(),
	  		value: variableValue.val()
		});

		updateVariableList();
	}

	function startEditVariable(element){
		
		setPopupDialog('editVariable');

		var variableName = $('#mainPopup').find('#variable-name');
		var variableType = $('#mainPopup').find('#variable-type');
		var variableValue = $('#mainPopup').find('#variable-value');

    	currentVariableId = Number( element.getAttribute('data-id') );
    	variableName.val( myVariables[currentVariableId].name );
    	variableType.val( myVariables[currentVariableId].type );
    	variableValue.val( myVariables[currentVariableId].value );

	}

	function doEditVariable(){

		var variableName = $('#mainPopup').find('#variable-name');
		var variableType = $('#mainPopup').find('#variable-type');
		var variableValue = $('#mainPopup').find('#variable-value');

		myVariables[currentVariableId].name =  variableName.val();
    	myVariables[currentVariableId].type = variableType.val();
    	myVariables[currentVariableId].value = variableValue.val();

    	updateVariableList();
	}

	function doDeleteVariable(){
		myVariables.splice( currentVariableId, 1 );
    	updateVariableList();
	}

	function startSelectForm(){
		setPopupDialog('selectForm');
		loadForms();
	}

	function doSelectForm(element){
		var form = {};
		form.id = element.getAttribute("form_id");
		form.name = element.getAttribute("form_name");
		form.description = element.getAttribute("form_description");
		myElements[currentElementId].form = form;
		
		$(".selected-form").html( form.name );
	}

	function loadForms(){
		$.ajax({
	        url: "/form/all",
	        type: "GET",
	        dataType : "html",
	        success: function( data ) {
	          	var myjson = JSON.parse(data);
	          	var rabbit = "";
	          	for( var i = 0; i < myjson.length; i++ ){
		            var thisForm = {};
		            thisForm.id = myjson[i]._id;
		            thisForm.name = myjson[i].name;
		            thisForm.description = myjson[i].description;
		            var yo = JSON.stringify(thisForm);
		            rabbit += '<div>';
		            rabbit += '<b>' + myjson[i].name + '</b><br>';
		            rabbit += myjson[i].description + '<br>';
		            rabbit += '<button data-dismiss="modal" onclick="doSelectForm(this)" class="btn btn-default btn-sm"'; 
		            rabbit += 'form_id="' + myjson[i]._id + '" form_name="' + myjson[i].name + '" form_description="' + myjson[i].description + '"';
		            rabbit += '>Select</button>';
		            rabbit += "</div>";
	          	}
	          	$('.form-list').html(rabbit);
	        }
      	});
	}

	function startMap( type ){
		setPopupDialog( 'map' + type );
	}

	function doMap( isInput ){
		
		var prefix = "output";

	    if(isInput) prefix = "input";

	    var mapping = {
	      first: $("#" + prefix + "-mapping-first").val(),
	      second: $("#" + prefix + "-mapping-second").val()
	    }

	    if(isInput) myElements[currentElementId].inputMappings.push(mapping);
	    else        myElements[currentElementId].outputMappings.push(mapping);

	    $("#" + prefix + "-mapping-first").val("");
	    $("#" + prefix + "-mapping-second").val("");

	    updateMappingList(isInput);

	}

	function updateMappingList(isInput){
	    var prefix = "output";
	    if(isInput) prefix = "input";

	    var type = prefix + "Mappings";
	    var html = getMappingList(currentElementId, type);

	    $("#" + prefix + "-mapping-list").html(html);
  	}

  	function startSelectService(){
  		setPopupDialog('selectService');
  		loadServices();

  	}

  	function loadServices(){
  		$.ajax({
			url: "/service/all",
			type: "GET",
			dataType : "html",
			success: function( data ) {
			  	var myjson = JSON.parse(data);
			  	var rabbit = "";
			  	
			  	for( var i = 0; i < myjson.length; i++ ){
					rabbit += '<div>';
					rabbit += '<b>' + myjson[i].name + '</b><br>';
					rabbit += myjson[i].description + '<br>';
					rabbit += '<button data-dismiss="modal" onclick="doSelectService(this)" id="' + myjson[i]._id + '" class="btn btn-default btn-sm">Select</button>';
					rabbit += "</div>";
			  	}
			  	$('.service-list').html(rabbit);
			}
	  	});
  	}

  	function doSelectService(element){
  		
    	$.ajax({
			url: "/api/services/" + element.id,
			type: "GET",
			dataType : "json",
			success: function( data ) {
				myElements[currentElementId].service = data;
			  	$(".selected-service").html( data.name );
			  	console.log(data);
			}
	  	});
  	}

  	function startAddCondition(){
  		setPopupDialog('addCondition');
  	}

  	function doAddCondition(){

  		var conditionName = $('#mainPopup').find('#condition-name');
		var conditionContent = $('#mainPopup').find('#condition-content');

		if( myElements[currentElementId].conditions === undefined ){
			myElements[currentElementId].conditions = [];
		}

		myElements[currentElementId].conditions.push( {
			name: conditionName.val(),
			content: conditionContent.val()
		});

		updateConditionList();

  	}

  	function updateConditionList(){
  		var html = getConditionList();
  		$('#condition-list').html( html );
  	}

  	function getConditionList(elementId, type){
  		
		if( myElements[currentElementId].conditions === undefined ){
  			myElements[currentElementId].conditions = [];
  		}

  		console.log( myElements["ExclusiveGateway_0k8nz2v"] );
  		console.log( myElements[currentElementId].conditions );
  		var conditionList = myElements[currentElementId].conditions;
  		var html = '';

  		for( var i = 0; i < conditionList.length; i++ ){
  			html += '<p>' + conditionList[i].name + " : " + conditionList[i].content + '</p>';
  		}

		return html;
  	}

  	function saveCondition(){

  		var conditionName = $("#condition-name").val();
  		alert(conditionName);

  		myElements[currentElementId].conditionName = conditionName;		
  	}

  	function getConditionName(){

  		if( myElements[currentElementId].conditionName === undefined ){
  			return '';
  		} 

  		return myElements[currentElementId].conditionName;
  	}

  	function viewService(){
  		setPopupDialog('viewService');

  		var thisService = myElements[currentElementId].service;

  		var html = '<div>Name: ' + thisService.name +'</div>';
  		html += '<div>Description: ' + thisService.description +' </div>';
  		html += '<div>Script: ' + thisService.script + '</div>';

  		$('.service-detail').html( html );
  	}

  	function startSelectRole(){
  		setPopupDialog('selectRole');
  		loadRoles();
  	}

  	function loadRoles(){
  		$.ajax({
			url: "/api/workflow/simpleroles",
			type: "GET",
			dataType : "html",
			success: function( data ) {
			  	var myjson = JSON.parse(data);
			  	var roleHtml = "";
			  	
			  	for( var i = 0; i < myjson.length; i++ ){
					roleHtml += '<div>';
					roleHtml += '<b>' + myjson[i].name + '</b><br>';
					roleHtml += myjson[i].description + '<br>';
					roleHtml += '<button data-dismiss="modal" onclick="doSelectRole(this)" data-id="' + myjson[i]._id + '" class="btn btn-default btn-sm">Select</button>';
					roleHtml += "</div>";
			  	}
			  	$('.role-list').html(roleHtml);
			}
	  	});
  	}

  	function doSelectRole(element){
  		
  		var myRole = {};
		myRole.id = element.getAttribute("data-id");
		myElements[currentElementId].role = myRole;
		
		$(".selected-role").html( myRole.id );

		console.log( myElements[currentElementId] );
  	}

  	function getRole(){

  		if( myElements[currentElementId].role ){
  			return myElements[currentElementId].role.id;
  		}

  		return '';
  	}

  function selectService(){

	 $.ajax({
		url: "/service/all",
		type: "GET",
		dataType : "html",
		success: function( data ) {
		  var myjson = JSON.parse(data);
		  var rabbit = "";
		  for( var i = 0; i < myjson.length; i++ ){
			rabbit += '<div>';
			rabbit += '<b>' + myjson[i].name + '</b><br>';
			rabbit += myjson[i].description + '<br>';
			rabbit += '<button data-dismiss="modal" onclick="finishSelectService(this)" id="' + myjson[i]._id + '" class="btn btn-default btn-sm">Select</button>';
			rabbit += "</div>";
		  }
		  $('.service-list').html(rabbit);
		}
	  });
  }

  function finishSelectForm(element){
	var form = {};
	form.id = element.getAttribute("form_id");
	form.name = element.getAttribute("form_name");
	form.description = element.getAttribute("form_description");
	myElements[currentElementId].form = form;
	
	$(".selected-form").html( form.name );
  }

  function finishSelectService(element){
	myElements[currentElementId].serviceId = element.id;
	$(".selected-service").html( element.id );
  }

  function getMappingList(elementId, type){

	var html = "";
	var thelist = myElements[elementId][type];

	for(var i = 0; i < thelist.length; i++ ){
	  html += "<p>" + thelist[i].first + " : " + thelist[i].second + "</p>";
	}

	return html;
  }

  function clickRow(element){

	alert(element);
  }

  function updateVariableList(){
	$("#variable-list").html("");
	for( var i = 0; i < myVariables.length; i++ ){
	  var currentVar = myVariables[i];
	  var htmlText = '<tr onclick="startEditVariable(this)" data-id="' + i + '" data-toggle="modal" data-target="#mainPopup" style="cursor: pointer;">';
	  htmlText += '<td>' + currentVar.name + '</td>';
	  htmlText += '<td>' + currentVar.type + '</td>';
	  htmlText += '<td>' + currentVar.value + '</td>';
	  htmlText += '</tr>';
	  /*var htmlText = '<li class="list-group-item">';
	  htmlText += currentVar.name + " : " + currentVar.value;
	  htmlText += '<span style="float: right">';
	  htmlText += '<button onclick="deleteVariable(this)" class="variable-delete" id="' + i + '">delete</button>';
	  htmlText += '</span></li>'*/

	  $("#variable-list").append(htmlText);
	}
  }
</script>
<script src="/javascripts/index.js"></script>

