<h1>Template Workflow List</h1>

<div style="margin-top: 20px;">
	{{#each workflows}}
		<div style="font-size: 18px; font-weight: 600">{{this.name}}</div>
		<div style="border-bottom: 1px solid #ccc;">
			{{this.description}}
		</div>
	{{/each}}
</div>	

<!--
<div class="text-center">

	{{#each workflows}}
    <div style="font-size: 24px">{{this.name}}</div>
    <div>{{this.description}}</div>
    <div><a href="/workflow/{{this._id}}/profile" class="btn-sm btn-primary">Execute</a>

	{{/each}}
</div> -->