
<script>
		
	function deleteRow(row)
	{
	    var i=row.parentNode.parentNode.rowIndex;
	    document.getElementById('POITable').deleteRow(i);
	}


	function insRow()
	{
		console.log({{year}});
	    console.log( 'hi');
	    var x=document.getElementById('POITable');
	    var new_row = x.rows[1].cloneNode(true);
	    var len = x.rows.length;
	    new_row.cells[0].innerHTML = len;
	    
	    var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
	    inp1.id += len;
	    inp1.value = '';
	    var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
	    inp2.id += len;
	    inp2.value = '';
	    x.appendChild( new_row );
	}
	


</script>



<form action="/addsubprogram" method="post" id = "myForm" >	

	
	
	
		<p hidden>		
		<input type="text" tabindex="1"  name="acid" value ="{{acid}}" readonly=""><br>
		</p>
	<br>

	<label>Year Level:</label>
		<select name="year">
		  {{#each yearlevel}}
		  	<option value = "{{this}}">{{this}}</option>
		  {{/each}}
		</select>
	<br>
	<br>

	<label>Semester:</label>
		<select name="semes">		  
		  	<option value = '1'>1</option>
		  	<option value = '2'>2</option>		  
		</select>
	<br>

	<label>Academic year:</label>
	  <input type="text" tabindex="1" placeholder="{{cryear}}" name="program_acyear"value="{{cryear}}" readonly><br>
	
	<label>Subject:</label><br>
			<!--table here-->
	<div class = "datagrid">
    	<table  id="POITable" >
		<thead>
			<tr>
				<th>Index</th>
				<th>Subject code</th>
				<th>Subject name</th>
				<th>Subject lecturer</th>
				<th>Subject credits</th>
				<th>Delete</th>
				<th>Insert</th>							
			</tr>
		</thead>
        <tr>
            <td>1</td>
            <td><input  type="text" id="subject_code" name="subject_code"/></td>
            <td><input  type="text" id="lngbox" readonly=true/></td>
               <!-- <td><select width="50px" name="semes" id= "sub_semes">
				  <option value="1">1</option>
				  <option value="2">2</option>
				</select>
			</td> -->
            <td><input  type="text" id="lngbox"  readonly=true/></td>

            <td><input  type="text" id="lngbox" readonly=true/></td>
            <td><input type="button" id="delPOIbutton" value="Delete" onclick="deleteRow(this)"/></td>
            <td><input type="button" id="addmorePOIbutton" value="Insert" /></td>
        </tr>
   	</table>
   	</div></br>
   	<input type="button" id="addmorePOIbutton" value="Insert Row" onclick="insRow()"/>
		
	
	
	  <input type="submit" class="btnLogin" value="Submit" tabindex="1">
	  
</form>
	

</td>

</tr>
</table>				