<%- include ../header.ejs %>
	<table style="width:100%" border="0">
	<tr style="height:50px">
		<td>
		</td>
	</tr>
	

	</table>
	<table style="width:100%" border="0">
		<tr>
			<td style="width:20%">
				<div class="text_column1position">
					<a href = "/profile_inf"><button type="button" class="btn btn-primary" style="width:180px">Profile</button><br><br>
					<a href = "/work_inf"><button type="button" class="btn btn-primary" style="width:180px">Performance</button></a><br><br>
					<a href = "/course_inf"><button type="button" class="btn btn-primary" style="width:180px">Subject</button><br><br>
					<a href = "/education_inf"><button type="button" class="btn btn-primary" style="width:180px">Education</button><br><br>
					
					<%if(user.local.email == "admin"){%>
						<a href = "/fachome"><button type="button" class="btn btn-primary" style="width:180px">Program</button>
						
					<%}%>
				</div>
			</td>
			<td>
				 <form action="/showprogram" method="post" >	

				 	<label>Select Program:</label>		
					<select name="programs">
						<%for(i=0;i< faculty.length;i++){%>					
						  <option value='<%= faculty[i].program_name %>'><%= faculty[i].program_name%></option>
						<%}%>	  
					</select>
					<label>Select Year:</label>
					<select name="years">
					  <option value="2014">2014</option>
					  <option value="2015">2015</option>
					  <option value="2016">2016</option>
					  <option value="2017">2017</option>
					</select>

					<input type="submit" class="btnLogin" value="Search" tabindex="1">
				 </form>
				 <br>

				<button class="btn btn-default"><a href = "/addhead">ADD Head Programs</button><br/></a> 	
				<button class="btn btn-default"><a href = "/addprogram">ADD Programs</button><br/></a>
			</td>
			<!--<td>
				<div class = "text_column2position">
					<center>
						<a href ="/workflowExecution" >Execute workflow</a> 
					</center>
					<br>
					<center>
						<a href ="/workflowCreation">Create workflow</a>
					</center>
				</div>
			</td>-->
		</tr>
	</table>				
	
<!--<%= faculty.length %>-->

	
<%- include ../footer.ejs %>