<!-- {{#each faculty}}				
	{{program_name}}
	bb
	mhai_eiei
{{/each}} 

{{#each year}}	
	aa	
	year {{@index}}		
	{{this}}
{{/each}}  

{{year}} -->
<script>


// $(document).ready(function() {
// 	$( "#head_programs" ).change(function() {
// 		console.log("Mhai_eiei2");
//     if ($(this).val() == "Software Engineering"){
//         $("#sub_programs").val("mhai_eiei");
//         console.log("Mhai_eiei3");
//     }
//     if ($(this).val() == "aaa"){
//         $("#sub_programs").val("bb");
//         console.log("Mhai_eiei4");
//     }
//     // if ($(this).val() == "Marketing"){
//     //     $("#occupetion").val("Marketing");
//     // }
// 	});
// });
$(document).ready(function() {
	$("#head_programs").change(function() { 
	if($(this).data('options') == undefined){
	    /*Taking an array of all options-2 and kind of embedding it on the select1*/
	    $(this).data('options',$('#sub_programs option').clone());
	    } 
	var id = $(this).val();
	var options = $(this).data('options').filter('[id=' + id + ']');
	$('#sub_programs').html(options);
	});
});


// $(document).ready(function() {
// 	$("#select1").change(function() { 
// 	if($(this).data('options') == undefined){
// 	    /*Taking an array of all options-2 and kind of embedding it on the select1*/
// 	    $(this).data('options',$('#select2 option').clone());
// 	    } 
// 	var id = $(this).val();
// 	var options = $(this).data('options').filter('[value=' + id + ']');
// 	$('#select2').html(options);
// 	});
// });

</script>


<!-- 
{{#each faculty}}
	
	{{#each program }}
		{{set @index}}
		{{#each sub_program}}
			{{get}}
			{{@index}}
			{{this}}				
  		{{/each}}
 	{{/each}}
{{/each}} -->

<form action="/programs" method="post" >	

	<label>Select Program:</label>		
 		
	<select id="head_programs" name="head_programs">
		<option value='a'>--Please select program--</option>
		{{#each faculty}}
			
			{{#each program}}
				<option value="{{ @index}}">{{ name_head_program }}</option>				
			{{/each}}
		{{/each}} 
			

	</select>
	

	<select id="sub_programs" name="sub_programs">	
	<option id='a'>-------</option>
	{{#each faculty}}	
		{{#each program }}
			{{set @index}}
			{{#each sub_program}}
				<option id = "{{get}}" value="{{this}}">{{this}}</option>					
	  		{{/each}}
		 {{/each}}
	{{/each}}
					
			
	</select>
	<br>

	<label>Select Acedamic Year:</label>
	<select name="years">
	  {{#each year}}
	  	<option value = "{{this}}">{{this}}</option>
	  {{/each}}
	  <!-- <option value="2014">2014</option>
	  <option value="2015">2015</option>
	  <option value="2016">2016</option>
	  <option value="2017">2017</option> -->
	</select>
	<br>
	<input type="submit" class="btnLogin" value="Search" tabindex="1">
 </form>
 <br>

<button class="btn btn-default"><a href = "/addprogram">ADD Programs</button><br/></a>
