
<div class="datagrid">
				<table>
					<thead>
						<tr>
							<th>Subject Code</th>
							<th>Subject Name</th>
							<th>Subject Credit</th>
							<th>Subject Lecterer</th>
							<th>Edit</th>
							<th>Delete</th>
							
							
						</tr>
					</thead>
					<!--<tfoot>
						<tr><td colspan="4">
						<div id="paging">
							<ul><li>
								<a href="#"><span>Previous</span></a></li>
								<li><a href="#" class="active"><span>1</span></a></li>
								<li><a href="#"><span>2</span></a></li>
								<li><a href="#"><span>3</span></a></li>
								<li><a href="#"><span>4</span></a></li>
								<li><a href="#"><span>5</span></a></li>
								<li><a href="#"><span>Next</span></a></li>
							</ul>
						</div></tr>
					</tfoot>-->
					<tbody>

						{{#each subjects}}
					    <tr>
						   <td>{{sub_code}}</td>
						   <td>{{sub_name}}</td>
						   <td>{{sub_credit}}</td>
						   <td>{{sub_lecter}}</td>
						   <td><a href='/editsubject?id={{sub_code}}'>edit</a></td>
						   <td><a href='/delsub?id={{sub_code}}'>delete</a></td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>

	<br><button class="btn btn-default"><a href = "/addsubjects">ADD Subject</button><br/></a>