

    <div class="container">


        <!-- Page Heading/Breadcrumbs -->
        <section id="docDetail">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Document detail
                    
                </h1>
                
            </div>
        </div>

        <div class="tabs">
 
            <div class="tab-content">
                
         
                <div id="tab1" class="tab active">
                    <form class="form-horizontal" role="form">
                        <table id="table_doc" class="table muffin table-striped table-hover margin-bottom0">
                                <thead>
                                </thead>
                                    <div class=""table table-striped"">
                                      <tbody>
                                        <tr>
                                          <th>Document ID</th>
                                          <th>{{docDetail.docId}}</th>
                                        </tr>
                                        <tr>
                                          <th>Document name</th>
                                          <th>{{docDetail.name}}</th>
                                        </tr>
                                        <tr>
                                          <th>Document type</th>
                                          <th>{{docDetail.subtype}}</th>
                                        </tr>
                                        <!-- Document created date -->
                                        <tr>
                                          <th>Created date</th>
                                          <th>{{docDetail.dateCreate}}</th>
                                        </tr>
                                        <!-- Document description -->
                                        <tr>
                                          <th>Description</th>
                                          <th>{{docDetail.description}}</th>
                                        </tr>
                                        <!-- Permission -->
                                        <tr>
                                          <th>Permission</th>
                                          <th>-</th>
                                        </tr>
                                        <!-- author -->
                                        <tr>
                                          <th>Author</th>
                                          <th>{{docDetail.author}}</th>
                                        </tr>
                                        <!-- Status -->
                                        <tr>
                                          <th>Document status</th>
                                          <th>{{docDetail.status}}</th>
                                        </tr>
                                        <!-- workflow status -->
                                        <tr>
                                          <th>Workflow status</th>
                                          <th>-</th>
                                        </tr>
                                        <!-- related document -->
                                        <tr>
                                          <th rowspan = "2">Related document</th>
                                            <th>
                                              {{#each docDetail.relate2docs}}
                                              <a class="btn btn-default" href="/documentDetail/{{this._id}}">{{this.name}}</a>
                                              {{/each}}
                                            </th>
                                        </tr>
                                        <tr>
                                          <th>{{docDetail.relate2docs.length}}</th>
                                        </tr>
                                        <!-- document version -->
                                        <tr>
                                          <th>Document version</th>
                                          <th>{{docDetail.version}}</th>
                                        </tr>
                                        <!-- attach file -->
                                        <tr>
                                          <th rowspan = "2">Attach file</th>
                                          <th>
                                            {{#each docDetail.attachments}}
                                            <a class="btn btn-default" href="/documentDetail/{{this._id}}">{{this.name}}</a>
                                            {{/each}}
                                          </th>
                                        </tr>
                                        <tr>
                                          <th>{{docDetail.attachments.length}}</th>
                                        </tr>
                                        <!-- document location -->
                                        <tr>
                                          <th> Path location</th>
                                          <th>{{docDetail.filepath}}</th>
                                        </tr>


                                        
                                      </tbody>
<!--                                       <div class="col-md-4" style="background-color:lavender;">Document ID</div>
                                      <div class="col-md-8">{{docDetail.id}}</div>
                                      <div class="col-md-4">Docoument name</div>
>>>>>>> 234d172097c6700c7e795e4436233b35c5be6af6
                                      <div class="col-md-8" style="background-color:lavender;">{{docDetail.name}}</div>
                                      <div class="col-md-4" style="background-color:lavender;">Docoument type</div>
                                      <div class="col-md-8" >{{docDetail.subtype}}</div>
                                      <div class="col-md-4" >Type of file</div>
                                      <div class="col-md-8" style="background-color:lavender;">{{docDetail.filetype}}</div>
                                      <div class="col-md-4" style="background-color:lavender;">Department</div>
                                      <div class="col-md-8">Some Department</div>
                                      <div class="col-md-4">Created Date</div>
                                      <div class="col-md-8" style="background-color:lavender;">{{docDetail.dateCreate}}</div>
                                      <div class="col-md-4" style="background-color:lavender;">Description</div>
                                      <div class="col-md-8">-</div>
                                      <div class="col-md-4">Permission</div>
                                      <div class="col-md-8" style="background-color:lavender;">-</div>
                                      <div class="col-md-4" style="background-color:lavender;">Autur</div>
                                      <div class="col-md-8">{{docDetail.author}}</div>
                                      <div class="col-md-4">Docoument status</div>
                                      <div class="col-md-8" style="background-color:lavender;">{{docDetail.status}}</div>
                                      <div class="col-md-4" style="background-color:lavender;">Workflow status</div>
                                      <div class="col-md-8">-</div>
                                      <div class="col-md-4">Related work</div>
                                      <div class="col-md-8" style="background-color:lavender;">{{docDetail.relate2docs}}</div>
                                      <div class="col-md-4" style="background-color:lavender;">Docoument version</div>
                                      <div class="col-md-8">-</div>
                                      <div class="col-md-4">Attach file</div>
                                      <div class="col-md-8" style="background-color:lavender;">{{docDetail.attachments}}</div>
                                      <div class="col-md-4" style="background-color:lavender;">Path location</div>
                                      <div class="col-md-8">{{docDetail.filepath}}</div> -->
                                    </div>




                               


                                <table id="choice-btn">

                                    <td>
                                    <div class="pull-right"> 

                                        <div class="btn-group">
                                            <a class="btn btn-default" href="/home" >Close</a>
                                        </div>

                                    </div>
                                      </td>
                                </table>


                            
                        </table>

                    
       
                            
                                  
                          
                    </form>
                </div>



            </div>
        </div>


