<%- include ../headerqa.ejs %>
<section>
   <div class ="well">
      <body>
         <td>
            <div class="container-fluid">
               <div class="row-fluid">
                  <div class="span15">
                     <div class="col-md-15">
                        <!--<form class="form-horizontal" role="form">-->
                        <h3>AUN 8.3: The actual study load is in line with the prescribed load</h3>
                        <h5>Table : Intake students and total students in each academic year</h5>
                        <div id="tab_aun8.3.1">
                           <table class="tablesorter">
                              <thead align="center">
                                 <tr>
                                    <th>Cohort</a></th>
                                    <td colspan=3>Full-time Intake Students</a></td>
                                 </tr>
                                 <tr>
                                    <td></td>
                                    <th>Male</th>
                                    <th>Female</th>
                                    <th>Total</th>
                                 </tr>
                                 <!-- ใช้ th colspan กับ Plan / topic ใช้ td กับข้อมูลปกติ -->
                              </thead>
                              <tbody>
                                 <% countMale = 0%>
                                 <% countFemale = 0%>
                                 <% for(i=0;i< student.length;i++){%>
                                 <% countMale = 0%>
                                 <% countFemale = 0%>
                                 <tr>
                                    <td><%=student[i]._id.yearAttend%></td>
                                    <% for(j=0;j< student[i].groupOfNationality.length;j++){%>  
                                    <% if(student[i].groupOfNationality[j].local.gender == "Male"){ %>
                                    <% countMale++%>
                                    <%}else{%>
                                    <% countFemale++%>
                                    <%}%>
                                    <%}%>
                                    <td><%=countMale%></td>
                                    <td><%=countFemale%></td>
                                    <td><%=student[i].count%></td>
                                 </tr>
                                 <%}%>   
                              </tbody>
                           </table>
                        </div>
                        <h5>Table : Total of students in each academic year</h5>
                        <div id="tab_aun8.3.1">
                           <table class="tablesorter">
                              <thead align="center">
                                 <tr>
                                    <td colspan=2>Student in each Academic Year</a></td>
                                 </tr>
                                 <tr>
                                    <th>Academic Year</th>
                                    <th>Total</th>
                                 </tr>
                                 <!-- ใช้ th colspan กับ Plan / topic ใช้ td กับข้อมูลปกติ -->
                              </thead>
                              <tbody>
                                 <% for(i=0;i< student_academicYear.length;i++){%>
                                 <tr>
                                    <td><%=student_academicYear[i]._id.yearAttend%></td>
                                    <td><%=student_academicYear[i].count%></td>
                                 </tr>
                                 <%}%>   
                              </tbody>
                           </table>
                        </div>
                        <h5>Table : Nationality of CiES students</h5>
                        <div id="tab_aun8.3.2">
                           <table class="tablesorter">
                              <thead align="center">
                                 <tr>
                                    <th>Academic year</a></th>
                                    <th>Total of academic year</a></th>
                                    <th>Nationality</a></th>
                                    <th>Total of Nationality</a></th>
                                 </tr>
                                 <tr>
                                    <td></td>
                                    <!--Country-->
                                    <td></td>
                                    <td></td>
                                 </tr>
                                 <!-- ใช้ th colspan กับ Plan / topic ใช้ td กับข้อมูลปกติ -->
                              </thead>
                              <tbody>
                                 <%count = 0%>
                                 <% for(i=0;i< docs.length;i++){%>
                                 <tr>
                                    <td><%=docs[i]._id%></td>
                                    <td><%=docs[i].sunOfYear%></td>
                                    <%count = 0%>
                                    <% for(j=0;j< docs[i].groupOfNationality.length;j++){%>
                                    <% if(count == 0){ %>
                                    <td><%=docs[i].groupOfNationality[j]._id.nationality%></td>
                                    <td><%=docs[i].groupOfNationality[j].count%></td>
                                 </tr>
                                 <%}else{%>
                                 <tr>
                                    <th></th>
                                    <th></th>
                                    <td><%=docs[i].groupOfNationality[j]._id.nationality%></td>
                                    <td><%=docs[i].groupOfNationality[j].count%></td>
                                    <%}%>
                                    <%count++%>
                                 </tr>
                                 <%}%> 
                                 <%}%> 
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </td>
      </body>
   </div>
</section>
<%- include ../footer.ejs %>