<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                <h3>AUN 1.3: The expected learning outcomes clearly reflect the
requirements of the stakeholders</h3>
               
                <br>
				<h5>Table : Mapping of stakeholders' requirements and ELOs</h5>
                {{#if admin}}
                <div id="tab_tqf3">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                            <th>Edit</a></th>
                            <th>Delete</a></th>
                            <th>Stakeholders</a></th>
                            <th>Requirements</a></th>
                            <th>ELOs</a></th>
                            
                            

                        </tr>
      
                    </thead>

					
                    <tbody>
					{{#each docs}}
                    <td>{{_id}} </td>
					{{#each stk}}
                        <tr>

                       
                        <td><a href = "/aun/aun1-4/edit_aun1-4?id={{_id}}&program={{getprogram}}&year={{getyear}}&acid={{getacid}}"><button id="tab_2_submit" class=" btn btn-xs btn-primary" type="button"><span class="glyphicon glyphicon-edit"></span></button></td>

                        <td><a href = "/aun/aun1-4/del_aun1-4?id={{_id}}&program={{getprogram}}&year={{getyear}}&acid={{getacid}}"><button id="tab_2_submit" class="btn btn-xs btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span></button> </td>
                        
                        <td>{{title}}</td>
                        <td>{{requirement}} </td>
						{{#each ELO}}
                        {{#if @first}}
                        <td>{{number}}</td>
                        
                        </tr>

                        {{else}}
                        <tr>
                        
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        
                        <td>{{number}}</td>

                        {{/if}}
                        {{/each}}
                        
                        </tr>
                        {{/each}}
                        {{/each}}
                        <th></th>
                        <th></th>

                        </tr>
                        
                    </tbody>

					
                  </table>
                  <div class="pull-right">
                    <a href = "/aun/aun1-4/add_aun1-4?&program={{getprogram}}&year={{getyear}}&acid={{getacid}}"><button id="tab_2_submit" class="btn btn-primary" type="button">Add</button>
                    </div>
                </div>
            {{else}}
                <div id="tab_tqf3">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                           
                            <th>Stakeholders</a></th>
                            <th>Requirements</a></th>
                            <th>ELOs</a></th>
                            
                            

                        </tr>
      
                    </thead>

                    
                    <tbody>
                    {{#each docs}}
                    <td>{{_id}} </td>
                    {{#each stk}}
                        <tr>

                       
                      
                        
                        <td>{{title}}</td>
                        <td>{{requirement}} </td>
                        {{#each ELO}}
                        {{#if @first}}
                        <td>{{number}}</td>
                        
                        </tr>

                        {{else}}
                        <tr>
                        
                        <th></th>
                        <th></th>
                        
                        <td>{{number}}</td>

                        {{/if}}
                        {{/each}}
                        
                        </tr>
                        {{/each}}
                        {{/each}}
                        <th></th>
                        <th></th>

                        </tr>
                        
                    </tbody>

                    
                  </table>
                 
                </div>



            {{/if}}
            </div>
            </div>
            </div>
            </div>
        </td>



         
</body>



</html>
