

<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                
                <h3>AUN 10.1: The lecture facilities(lecture halls, small course rooms) are adequate</h3>
       
                <h5>Table : Lecture rooms for CiEs students</h5>
                {{#if admin}}
                <div id="tab_tqf2"><table class="table muffin">
                  
                    <thead align="center">
                        <tr>
                            
                            <th>Room No.</a></th>
                            <th>Floor</a></th>
                            <th>Building</a></th>
                            <th>No. of seats</a></th>
                            <th>Edit</th>
                            <th>Delete</th>
                            
                        </tr>
                    </thead>
					
                    <tbody>
                        {{#each docs}}
                        <tr>
                            <td>{{roomNo}}</td>
                            <td>{{floor}}</td>
                            <td>{{building}}</td>
                            <td>{{numberOfSeat}}</td>
                            <td><a href = "/aun/aun10-1/editaun10_1?id={{_id}}&program={{programname}}&year={{year}}&acid={{acid}}"><button id="tab_2_submit" class="btn btn-primary" type="button">Edit</button></td>
                            <td><a href = "/aun/aun10-1/delaun10_1?id={{_id}}&program={{programname}}&year={{year}}&acid={{acid}}"><button id="tab_2_submit" class="btn btn-danger" type="button">Delete</button></td>
                        </tr>  
                        {{/each}}   
                    </tbody>
					
                  </table>

                </div>

                <div class="table-foot "> 
                        
            <div class="pull-right">
             <div class="btn-group">
               <a href = "/aun/aun10-1/addaun10_1?program={{programname}}&year={{year}}&acid={{acid}}"><button id="tab_2_submit" class="btn btn-primary" type="button">ADD new</button>
            </div>
            </div>
            {{else}}
                <div id="tab_tqf2"><table class="table muffin">
                  
                    <thead align="center">
                        <tr>
                            
                            <th>Room No.</a></th>
                            <th>Floor</a></th>
                            <th>Building</a></th>
                            <th>No. of seats</a></th>
                           
                        </tr>
                    </thead>
                    
                    <tbody>
                        {{#each docs}}
                        <tr>
                            <td>{{roomNo}}</td>
                            <td>{{floor}}</td>
                            <td>{{building}}</td>
                            <td>{{numberOfSeat}}</td>
                            
                        </tr>  
                        {{/each}}   
                    </tbody>
                    
                  </table>

                </div>

              
            


            {{/if}} 
          
            </div>
            </div>
            </div>
            </div>
            

        </td>



         
</body>
