<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Monkey Office</title>

        <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap-submenu.min.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css" id="" media="print, projection, screen" />
    <script type="text/javascript" src="js/jquery-latest.js"></script> 
    <script type="text/javascript" src="js/jquery.tablesorter.js"></script>

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/file-tree.min.css" rel="stylesheet"
    <script type="text/javascript" src="../jquery-latest.js"></script>
    <script type="text/javascript" src="../jquery.tablesorter.js"></script>
    <script type="text/javascript">
    $(function() {
        $("table").tablesorter({debug: true});
    });
    </script>
</head>

<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                
                <h3>AUN 6.1: The staff are competent for their tasks</h3>
       
                <h5>Table : List of lectures in CiES Program</h5>
                <div id="tab_aun6.1">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                            <th>Type</a></th>
                            <th>Title</a></th>
                            <th>Name-Surname</a></th>
                            <th>Highest Holding Degree</a></th>
                            <th>Years of teaching</a></th>
                            <th>Publications</a></th>
                            
                            

                        </tr>
                       

                    <!-- ใช้ th colspan กับ Plan / topic ใช้ td กับข้อมูลปกติ -->
                    </thead>
                    <tbody>
                    
                        <tr>
                        <th colspan=6></th>
                        </tr>
                       
                       {{#each docs}}
                       
                        <tr>
                        <td>{{_id}}</td>
                       
                        <!-- {{#if @first}} 
                <td>{{subjectType}}</td>
                <td>{{followingReq}}</td>
                </tr>
                
                {{else}}
                <tr>
                <th></th>
                <th></th>
                <td>{{subjectType}}</td>
                <td>{{followingReq}}</td>
                {{/if}} -->
                        {{#each user}}
                        {{#if @first}} 
                        <td>{{local.title}}</td>             
                        <td>{{local.name}} {{local.surname}}</td>
                        
                        <td>{{education.0.level}}</td>
                        
                        <td>{{local.yearOfTeaching}}</td>
                        {{#each publicResearch}}
                        {{#if @first}} 
                        <td>{{typepublic}}</td>
                        </tr>
                        {{else}}
                        <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <<td>{{typepublic}}</td>
                        {{/if}}
                        {{/each}}
                        </tr>
                       {{else}}
                <tr>
                <th></th>
                
                <td>{{local.title}}</td>             
                        <td>{{local.name}} {{local.surname}}</td>
                        <td>{{education.0.level}}</td>
                        <td>{{local.yearOfTeaching}}</td>
                        {{#each publicResearch}}
                        {{#if @first}} 
                        <td>{{typepublic}}</td>
                        </tr>
                        {{else}}
                        <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <<td>{{typepublic}}</td>
                        {{/if}}
                        {{/each}}
                {{/if}}
                        {{/each}}
                        </tr>  
                        {{/each}}
                    </tbody>

                  </table>

                </div>
          
            </div>
            </div>
            </div>
            </div>
            

        </td>



         
</body>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
<script src="bower_components/nestedSortable/jquery.mjs.nestedSortable.js"></script> 
<script src="js/file-tree.min.js"></script> 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>-->


</html>
