<%- include ../header.ejs %>

<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                
                <h3>AUN 2.1 The university uses program specification</h3>
               
                <br>
				<h5>Table : Referenved curriculums from the world recognized universities</h5>
                <div id="tab_ref">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            <th>No.</a></th>
                            <th>Program Name</a></th>
                            <th>Degree</a></th>
                            <th>University</a></th>
                            <th>Country</a></th>
                            <th>Websites</a></th>

                        </tr>
      
                    </thead>
					 
                    <tbody>
                    <% for(k=0;k< docs.length;k++){%>
                    <% for(j=0;j< docs[k].referenceCurriculum.length;j++){%>
					<% for(m=0;m< docs[k].referenceCurriculum[j].detail.length;m++){%>
					
                        <tr>
                        <td><%= m+1 %> </td>
                        <td> <%=docs[k].referenceCurriculum[j].detail[m].refProgramName %></td>
                        <td><%=docs[k].referenceCurriculum[j].detail[m].degree%> </td>
                        <td> <%=docs[k].referenceCurriculum[j].detail[m].university%></td>
                        <td> <%=docs[k].referenceCurriculum[j].detail[m].country%></td>
                        <td><%=docs[k].referenceCurriculum[j].detail[m].website%> </td>
                        
                        </tr>
                       <%}%>
                        <%}%>
                        <%}%>
                    </tbody>
					
                  </table>
                </div>


				<% for(k=0;k< struc.length;k++){%>
                <% for(g=0;g< struc[k].structureOfCurriculum.length;g++){%>
				
                <h5>Table : Structure of the curriculum (Plan <%=struc[k].structureOfCurriculum[g].plan %>)</h5>
                <div id="tab_structure">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            <th>Knowledge Block</a></th>
                            <td colspan=2 ><%=struc[k].structureOfCurriculum[g].plan %></a></td>
                        </tr>
                        <tr>
                            <td colspan=1></td>
                            <td colspan=1></td>
                            <th>Credit Required</th>
                            <th>Percentage</th>
                           
                        </tr>
      
                    </thead>
					
                    <tbody>
                   
                     
                    <% for(f=0;f< struc[k].structureOfCurriculum[g].knowledgeBlock.length;f++){%>
                    
                        <tr>
                        <td> <%=struc[k].structureOfCurriculum[g].knowledgeBlock[f].subjectType%></td>
                        <td> </td>
                        <td><%=struc[k].structureOfCurriculum[g].knowledgeBlock[f].creditRequired%> </td>
                        <td> </td>
                        
                        </tr>
                       
                    <%}%>    
                    </tbody>
					
                  </table>
                </div>
				<%}%>
                <%}%>

                <h5>Table : Distribution of the curriculum</h5>
                <% for(k=0;k< subs.length;k++){%>
                <div id="tab_dis">
                  <table class="tablesorter">
                    <thead align="center">
					
                        <tr>
                            <td colspan=3 >Semester <%= subs[k].semester %></a></td>
                        </tr>
                        <tr>
                            <td>Code</td>
                            <td>Subject</td>
                            <td>Credit</td>
                        </tr>
                    <!-- ใช้ th colspan กับ Plan ใช้ td กับข้อมูลปกติ -->
                    </thead>
                    <tbody>
                        <tr>
                        
						<td colspan=3> <%=subs[k].plan.plan%> : Year <%=subs[k].Year%></td>
                    
						</tr>

                        <% for(l=0;l< subs[k].subject.length;l++){%>



                        <tr>
						
                            <td><%= subs[k].subject[l].subcode.sub_code%> </td>
                            <td><%= subs[k].subject[l].subcode.sub_name%> </td>
                            <td><%= subs[k].subject[l].subcode.sub_credit%> </td>
						
                       
						
                        </tr>    
                      
					   <%}%>

                    </tbody>
					
                  </table>
                </div>
                <%}%>
          
            </div>
            </div>
            </div>
            </div>
            

        </td>



         
</body>

<%- include ../footer.ejs %>