<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                <h3>AUN 1.4: The expected learning outcomes clearly reflect the requirements of the stakeholders</h3>
               
                <br>
				<h5>Table : Mapping of stakeholders' requirements and ELOs</h5>
                <div id="tab_tqf3">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            <th>Edit</a></th>
                            <th>Delete</a></th>
                            <th>Type</a></th>
                            <th>Stakeholders</a></th>
                            <th>Requirements</a></th>
                            <td>ELOs</a></td>
                            

                        </tr>
      
                    </thead>

					
                    <tbody>
					{{#each docs}}
					{{#each stakeholder}}
                        <tr>

                        <td><a href = "/edit_aun1-4?id={{_id}}&program={{program}}"><button id="tab_2_submit" class=" btn btn-xs btn-primary" type="button"><span class="glyphicon glyphicon-edit"></span></button></td>

                        <td><a href = "/del_aun1-4?id={{_id}}&program={{program}}"><button id="tab_2_submit" class="btn btn-xs btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span></button> </td>
                        
                        <td>{{type}} </td>
                        <td>{{title}}</td>
                        <td>{{requirement}} </td>
						{{#each ELO}}
                        <td>{{number}} </td>
                        {{/each}}
                        </tr>
                        {{/each}}
                        {{/each}}
                    </tbody>

                    <a href = "/add_aun1-4?program={{program}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Add</button>
					
                  </table>
                </div>
          
            </div>
            </div>
            </div>
            </div>
        </td>



         
</body>



</html>
