<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Monkey Office</title>

        <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap-submenu.min.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css" id="" media="print, projection, screen" />
    <script type="text/javascript" src="js/jquery-latest.js"></script> 
    <script type="text/javascript" src="js/jquery.tablesorter.js"></script>

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/file-tree.min.css" rel="stylesheet"
    <script type="text/javascript">
    $(function() {
        $("table").tablesorter({debug: true});
    });
    </script>
</head>

<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                
                <h3>AUN 13.2:There is adequate structured feedback from the students and alumni</h3>
                <h5>Table : Survey on alumni concerning career/higher studying</h5>
                <div id="tab_aun13.2">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                            <th>No.</a></th>
                            <th>Graduated in</a></th>
                            <th>Total</a></th>
                            <th>Career/Higher Studying</a></th>
                            <th>Total of Career/Higher Studying</a></th>
                            
                           
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <!--year-->
                            <th></th>
                            <th></th>
                            <!--year-->
                            <td></td>
                        </tr>
                       
                       

                   
                    </thead>
                    <tbody>
                    {{#each docs}}

                        <tr>
                        <td>{{getindex}}</td>
                        <td>{{_id}}</td>
                        <td>{{sumOfYear}}</td>
                       {{#each groupOfCareerOrHigherStudying}}
                        {{#if @first}} 
                        <td>{{_id.careerOrHigherStudying}}</td>
                       <td>{{count}}</td>
                        </tr>
                        {{else}}
                        <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <td>{{_id.careerOrHigherStudying}}</td>
                        <td>{{count}}</td>
                        {{/if}}
                       
                        
                        {{/each}}
                        
                        
                        </tr>  
                        {{/each}}
                    </tbody>

                  </table>

                </div>


       
            </div>
            </div>
            </div>
            </div>
            

        </td>



         
</body>



</html>
