

<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                
                <h3>AUN 3.3 The contribution made by each course to achieving the learning outcomes is clear</h3>
       
                <h5>Table : Knowledge and skill matrix of course and ELOs</h5>
                <div id="tab_aun3.3">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                            <td colspan=4 >Courses</a></td>
                            <td colspan=4 >ELOs</a></td>
                            
                            

                        </tr>
                        <tr>
                            <th>Subject Type</th>
                            <th>Code</th>
                            <th>Subject Description</th>
                            <th>Credits</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            

                            
                        </tr>

                    <!-- ใช้ th colspan กับ Plan / topic ใช้ td กับข้อมูลปกติ -->
                    </thead>
                    <tbody>
					{{#each docs}}
                        <tr>
                        <th colspan=7>Plan {{plan}}</th>
                        </tr>
                        {{#each subject}}
						{{#each subcode}}
                    
                        <tr>
						<td>{{sub_type}}</td>
                        <td>{{sub_code}}</td>
                        <td>{{sub_name}}</td>
                        <td>{{sub_credit}}</td>
						{{#each ELO}}
						
                        
						
                        <td>{{supportLevel}}</td>
                        
						
                        {{/each}}
                        </tr>  
						{{/each}}
						{{/each}}
                        {{/each}}
                    </tbody>

                  </table>

                </div>
          
            </div>
            </div>
            </div>
            </div>
            

        </td>



         
</body>

