<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Monkey Office</title>

            <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="dist/css/bootstrap-submenu.min.css">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/style.css" type="text/css" id="" media="print, projection, screen" />
        <script type="text/javascript" src="js/jquery-latest.js"></script> 
        <script type="text/javascript" src="js/jquery.tablesorter.js"></script>

        <!-- Custom CSS -->
        <link href="css/modern-business.css" rel="stylesheet">
        <link href="css/file-tree.min.css" rel="stylesheet"
        <script type="text/javascript" src="../jquery-latest.js"></script>
        <script type="text/javascript" src="../jquery.tablesorter.js"></script>
        <script type="text/javascript">
        $(function() {
            $("table").tablesorter({debug: true});
        });
        </script>


        
    
    <style type="text/css">
        body { margin-top: 70px; }

        header { margin-bottom: 40px; }

        textarea { resize: none; }

        .file-tree {
          margin-bottom: 60px;
          height: 70px;
        }

        #demo p.well.well-sm { height: 80px; }
    </style>
    </head>




    <body>
    <h3>AUN 5.3: Student assessment uses a variety of methods</h3>
    <h5>Table : Assesment tools</h5>
    <table id="rowspan" cellspacing="0" class="tablesorter">
    <thead>
        <tr>
            
            <tr>
                  <th>No.</a></th>
                  <th>Assessment Tools</a></th>
                  <td>Courses</a></td>
                  <td>Levels</a></td>
            </tr>
            
        
        </tr>
        
    </thead>
    <tbody>     

	{{#each docs}}
	<tr>
	<td colspan=4>{{_id}}</td>
	</tr>
                <tr>
				{{#each assementTool}}
                <th>{{getindex}}</th>

				
                <th>{{assesmentTool}}</th>
				
			{{#each subject}} 
			{{#if @first}} 
                <td>{{subjectType}}</td>
                <td>{{followingReq}}</td>
                </tr>
			 	
				{{else}}
                <tr>
                <th></th>
				<th></th>
                <td>{{subjectType}}</td>
                <td>{{followingReq}}</td>
				{{/if}}
				{{/each}}
				
				</tr>
				{{/each}}
     {{/each}}           
                

                
                
                
            </tbody>

          </table>
    </body>



         
</body>



</html>

