

<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                
                <h3>AUN 10.1: The lecture facilities(lecture halls, small course rooms) are adequate</h3>
       
                <h5>Table : Lecture rooms for CiEs students</h5>
                <div id="tab_tqf2"><table class="table muffin">
                  
                    <thead align="center">
                        <tr>
                            
                            <th>Room No.</a></th>
                            <th>Floor</a></th>
                            <th>Building</a></th>
                            <th>No. of seats</a></th>
                            <th>Edit</th>
                            <th>Delete</th>
                            
                        </tr>
                    </thead>
					
                    <tbody>
                        {{#each docs}}
                        <tr>
                            <td>{{roomNo}}</td>
                            <td>{{floor}}</td>
                            <td>{{building}}</td>
                            <td>{{numberOfSeat}}</td>
                            <td><a href = "/editaun10_1?id={{_id}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Edit</button></td>
                            <td><a href = "/delaun10_1?id={{_id}}&acid={{getacyear}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Delete</button></td>
                        </tr>  
                        {{/each}}   
                    </tbody>
					
                  </table>

                </div>
                <a href = "/addaun10_1?acid={{acid}}"><button id="tab_2_submit" class="btn btn-mini" type="button">ADD new</button>
          
            </div>
            </div>
            </div>
            </div>
            

        </td>



         
</body>
