<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Monkey Office</title>

        <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap-submenu.min.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css" id="" media="print, projection, screen" />
    <script type="text/javascript" src="js/jquery-latest.js"></script> 
    <script type="text/javascript" src="js/jquery.tablesorter.js"></script>

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/file-tree.min.css" rel="stylesheet"
    <script type="text/javascript" src="../jquery-latest.js"></script>
    <script type="text/javascript" src="../jquery.tablesorter.js"></script>
    <script type="text/javascript">
    $(function() {
        $("table").tablesorter({debug: true});
    });
    </script>
</head>

<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                
                <h3>AUN 6.9: Termination and retirement are planned and well implemented</h3>
       
                <h5>Table : Termination and retirement information of lecturer in program</h5>
                <div id="tab_aun6.9">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                            <th>No.</a></th>
                            <th>Title</a></th>
                            <th>Name-Surname</a></th>
                            <th>Age</a></th>
                            <td colspan=2>Termination</a></td>
                            <td colspan=2>Retirement</a></td>
                        </tr>
                        <tr>
                            <td colspan=1></td>
                            <td colspan=1></td>
                            <td colspan=1></td>
                            <td colspan=1></td>
                            <th> Remaining Times (years)</th>
                            <th> Academic Years</th>
                            <th> Remaining Times (years)</th>
                            <th> Academic Years</th>

                        </tr>
                       

                    <!-- ใช้ td colspan กับ Plan / topic ใช้ td กับข้อมูลปกติ -->
                    </thead>
                    <tbody>
                        <tr>
                        <td colspan=8></td>
                        </tr>
                      {{#each docs}}
                       
                       {{#each user}}
                        <tr>
                        <td>{{getindex}}</td>
                        <td>{{local.title}}</td>

                        <td>{{local.name}} {{local.surname}}</td>
                        <td>{{local.age}}</td>
                        <td>{{getTerminate local.terminationYear}}</td>
                        <td>{{local.terminationYear}}</td>
                        <td>{{getRetired local.age}}</td>
                        <td>{{getAcYearOfRetired local.age}}</td>
                        </tr>  
                        {{/each}}
                        {{/each}}
                    </tbody>

                  </table>

                </div>

                <h5>Table : Termination and retirement information of visiting lecturer in program</h5>
                <div id="tab_aun6.9">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                            <th>No.</a></th>
                            <th>Title</a></th>
                            <th>Name-Surname</a></th>
                            <th>Age</a></th>
                            <td colspan=2>Termination</a></td>
                            <td colspan=2>Retirement</a></td>
                        </tr>
                        <tr>
                            <td colspan=1></td>
                            <td colspan=1></td>
                            <td colspan=1></td>
                            <td colspan=1></td>
                            <th> Remaining Times (years)</th>
                            <th> Academic Years</th>
                            <th> Remaining Times (years)</th>
                            <th> Academic Years</th>

                        </tr>
                       

                    <!-- ใช้ td colspan กับ Plan / topic ใช้ td กับข้อมูลปกติ -->
                    </thead>
                    <tbody>
                        <tr>
                        <td colspan=8></td>
                        </tr>
                      {{#each visiting}}
                       
                       {{#each user}}
                        <tr>
                        <td>{{getindex}}</td>
                        <td>{{local.title}}</td>

                        <td>{{local.name}} {{local.surname}}</td>
                        <td>{{local.age}}</td>
                        <td>{{getTerminate local.terminationYear}}</td>
                        <td>{{local.terminationYear}}</td>
                        <td>{{getRetired local.age}}</td>
                        <td>{{getAcYearOfRetired local.age}}</td>
                        </tr>  
                        {{/each}}
                        {{/each}}
                    </tbody>

                  </table>

                </div>
          
            </div>
            </div>
            </div>
            </div>
            

        </td>



         
</body>



</html>
