<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Monkey Office</title>

        <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap-submenu.min.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css" id="" media="print, projection, screen" />
    <script type="text/javascript" src="js/jquery-latest.js"></script> 
    <script type="text/javascript" src="js/jquery.tablesorter.js"></script>

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/file-tree.min.css" rel="stylesheet"
    <script type="text/javascript" src="../jquery-latest.js"></script>
    <script type="text/javascript" src="../jquery.tablesorter.js"></script>
    <script type="text/javascript">
    $(function() {
        $("table").tablesorter({debug: true});
    });
    </script>
</head>

<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                
                <h3>AUN 2.1 The university uses program specification</h3>
               
                <br>
				<h5>Table : Referenved curriculums from the world recognized universities</h5>
                <div id="tab_ref">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            <th>No.</a></th>
                            <th>Program Name</a></th>
                            <th>Degree</a></th>
                            <th>University</a></th>
                            <th>Country</a></th>
                            <th>Websites</a></th>

                        </tr>
      
                    </thead>
					 {{#each docs}}
                    <tbody>
					{{#each referenceCurriculum}}
					{{#each detail}}
                        <tr>
                        <td>{{getindex}} </td>
                        <td> {{refProgramName}}</td>
                        <td>{{degree}} </td>
                        <td> {{university}}</td>
                        <td> {{country}}</td>
                        <td>{{website}} </td>
                        
                        </tr>
                       {{/each}}
                        {{/each}}
                    </tbody>
					{{/each}} 
                  </table>
                </div>


				{{#each docs}}
				{{#each structureOfCurriculum}}
                <h5>Table : Structure of the curriculum (Plan {{plan}})</h5>
                <div id="tab_structure">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            <th>Knowledge Block</a></th>
                            <td colspan=2 >{{plan}}</a></td>
                        </tr>
                        <tr>
                            <td colspan=1></td>
                            <td colspan=1></td>
                            <th>Credit Required</th>
                            <th>Percentage</th>
                           
                        </tr>
      
                    </thead>
					{{#each knowledgeBlock}}
                    <tbody>
                        <tr>
                        <td> {{subjectType}}</td>
                        <td> </td>
                        <td>{{creditRequired}} </td>
                        <td> </td>
                        
                        </tr>
                       
                        
                    </tbody>
					{{/each}}
                  </table>
                </div>
				{{/each}}
                {{/each}}

                <h5>Table : Distribution of the curriculum</h5>
                <div id="tab_dis">
                  <table class="tablesorter">
                    <thead align="center">
					{{#each subs}}
                        <tr>
                            <td colspan=3 >Semester {{semester}}</a></td>
                        </tr>
                        <tr>
                            <td>Code</td>
                            <td>Subject</td>
                            <td>Credit</td>
                        </tr>
                    <!-- ใช้ th colspan กับ Plan ใช้ td กับข้อมูลปกติ -->
                    </thead>
                    <tbody>
                        <tr>
						<td colspan=3>{{plan.plan}} : Year {{Year}}</td>
						</tr>
						{{#each subject}}
						{{#each subcode}}
                        <tr>
						

						
                        <td>{{sub_code}}</td>
                        <td>{{sub_name}}</td>
                        <td>{{sub_credit}}</td>
						
                        </tr>    
                       {{/each}}
					   {{/each}} 
                    </tbody>
					{{/each}}
                  </table>
                </div>
          
            </div>
            </div>
            </div>
            </div>
            

        </td>



         
</body>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
<script src="bower_components/nestedSortable/jquery.mjs.nestedSortable.js"></script> 
<script src="js/file-tree.min.js"></script> 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>-->


</html>
