<div style="margin-left:40px; margin-top: 20px;">
	<h3>{{data.name}}</h3>
	{{#if data.status}}
    	<b>Status: </b> Done
  	{{else}}
    	<b>Status: </b> In progress
  	{{/if}}

  	<div style="margin-top: 20px;">
  		<b>Documents</b>
  	{{#each data.documents}}
  		<div style="margin-top: 10px;">
  			<a class="btn btn-default" href="/documentDetail/{{this._id}}">{{this.docId}}</a>
            <a href="/{{this.filepath}}">{{this.name}}</a>
  		</div>
  	{{/each}}
  </div>
</div>