

<div class="row content"> 
                
                <form class="form-horizontal" role="form">
                   
                   <h3>Show list of all users</h3>
    
                    <div id="tab_2"><table class="table muffin table-striped table-hover margin-bottom0">
                    <thead>
                        <tr>
                        <th><a href="javascript:table_sort('tab_2',1)">Username</a></th>
                        <th><a href="javascript:table_sort('tab_2',2)">Name</a></th>
                        <th><a href="javascript:table_sort('tab_2',3)">Bussiness Pos.</a></th>
                        <th><a href="javascript:table_sort('tab_2',4)">Role</a></th>
                        <th><a href="javascript:table_sort('tab_2',5)">Delete</a></th>
                        </tr>
                    </thead>
                    <tbody>
                   
                      {{#each alluser}}
                        <tr>
                        <td><a href='/adminedit?user={{local.username}}'>{{local.username}}</a></td>
                        <td>{{local.title}} {{local.name}} {{local.surname}}</td>
                        <td>{{local.role}}</td>
                        <td>
                            <a href="/admin/view_user_role?user={{ local.username}}&program={{local.program}}"><button id="tab_2_submit" class=" btn btn-xs btn-primary" type="button"><span class="glyphicon glyphicon-edit"></span></button></td>
                           
                            
                        </td>
                        <td>
                            <a href='/admin/deluser?id={{local.username}}&program={{local.program}}'><button id="tab_2_submit" class="btn btn-xs btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span></button> </td> 
                        </td>
                        </tr>
                      {{/each}}
                   
                    </tbody>
                    </table>
                    </div>
                    
                    
                    <!-- end: table full -->
                    <div class="table-foot"> 
                        
                        <div class="pull-right">
                        
                        
                        <div class="btn-group">
                            <a href = "/admin/adduser?program={{program}}"><button id="tab_2_add" class="btn btn-primary" type="button">Add</button></a>
                        </div>

                        <div class="btn-group">
                            <a href = "/admin/view_role_admin?program={{program}}"><button id="tab_2_add" class="btn btn-primary" type="button">Role</button></a>
                        </div>

                        <div class="btn-group">
                            <a href = "/admin/view_specialTitle_admin?program={{program}}"><button id="tab_2_add" class="btn btn-primary" type="button">Special Title</button></a>
                        </div>
                        
                                    
                        </div>
                        
                        
                        
                    </div>
