<script type="text/javascript">
    var array = [];
    var rowind = 1;
  
    function deleteRow(row)
    {

        var i=row.parentNode.parentNode.rowIndex;
        document.getElementById('req_table').deleteRow(i);
        rowind--;
        document.getElementById('arrlen').value = rowind;
        console.log("value="+document.getElementById('arrlen').value);
    } 

    function insRow()
    {

      var arr = []
      //console.log( 'hi');
      var x=document.getElementById('req_table');
      var y =document.getElementById('req_body');
      var new_row = x.rows[1].cloneNode(true);
      //console.log( 'new_row: '+new_row);
      var len = x.rows.length;
      //console.log( 'len: '+len);

      var inp0 = new_row.cells[0].getElementsByTagName('input')[0];
      var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
      inp0.value = '';
      
      console.log(new_row);
      y.appendChild( new_row );
      rowind++;
      console.log(rowind);
      document.getElementById('arrlen').value = rowind;
      document.getElementById('count').value = 1;
      console.log("value="+document.getElementById('arrlen').value);
     
    }
</script>

<div class="container">
           
    <form class="form-horizontal" role="form"  action="/aun/aun1-4/add_aun1-4?&program={{getprogram}}&year={{getyear}}&acid={{getacid}}" method="post" id = "myForm" > 
      
                <h3>Mapping of stakeholders' requirements and ELOs</h3>
                <br>
               
                    <div class="form-group">
                      <label for="inputType" class="col-md-2 control-label">Stakeholder'name: </label>
                      <div class="col-md-4">
                         <input type="text" class="form-control2" id="inputType" placeholder="Enter stakeholder'name " name="sth_name">
                      </div>
                     <label for="inputType" class="col-md-2 control-label">Type: </label>
                      <div class="col-md-4">
                          <select class="form-control" name="type" style="width:200px">
                              <option value="Internal">Internal</option>
                              <option value="External">External</option>
                          </select>
                      </div>  
                    </div>
                    <div class="form-group">
                       <div class="col-md-9">
                      <table id="req_table" class="table">
                        <thead>
                            <tr>
                            <th><a>Requirement</a></th>
                            <th><a>Add</a></th>
                            <th><a>Delete</a></th>
                            
                            </tr>
                        </thead>
                        <tbody id = "req_body">
                            <p hidden>    
                              <input type="text" tabindex="1"  name="arrlen" id="arrlen" value='1' readonly=""><br>    
                              <input type="text" tabindex="1"  name="count" id="count" value="0" readonly=""><br>
                            </p>
                            <tr>
                            <td><input  type="text" name="req" id="req"/></td>

                            <div class="btn-group">
                               <td> <button id="tab_2_submit" class="btn btn-xs btn-primary" type="button" onclick="insRow()">
                                  <span class="glyphicon glyphicon-plus"></span></button>
                                </td>
                            </div>  
                            <td> <button class="btn btn-xs btn-danger" id="delPOIbutton" value="Delete" onclick="deleteRow(this)"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>  

                            
                                  
                            </tr>                    
                        </tbody>
                      </table>
                      <label for="inputType" class="col-md-2 control-label">ELOs: </label>
                      <div class="col-md-4">
                          {{#each elo}}
                            <input type="checkbox" name="elo" value="{{_id}}"> {{number}}<br>
                          {{/each}}
                      </div>
                    </div>
                  </div>
                    
                  <div class="col-md-10">
                      <div class="pull-right">
                      <button type="submit" class="btn btn-primary">Add</button>
                      </div>
                  </div>
     </form>
</div>