<script>
  var array = [];
  var rowind = 1;
  function deleteRow(row)
  {
      var i=row.parentNode.parentNode.rowIndex;
      document.getElementById('tab_tqf25').deleteRow(i);
      rowind--;
      document.getElementById('arrlen').value = rowind;
      console.log("value="+document.getElementById('arrlen').value);
  }


  function insRow()
  {
    
      console.log( 'hi');
      var x=document.getElementById('tab_tqf25');
      var y =document.getElementById('body_tqf25');
      var new_row = x.rows[1].cloneNode(true);
      var len = x.rows.length;
      
      new_row.cells[0].innerHTML = len;
      
      var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
      inp1.value = '';
      var inp2 = new_row.cells[2].getElementsByTagName('textarea')[0];
      inp2.value = '';
      var inp3 = new_row.cells[3].getElementsByTagName('textarea')[0];
      inp3.value = '';
      var inp4 = new_row.cells[4].getElementsByTagName('input')[0];
      inp4.value = '';
      var inp5 = new_row.cells[5].getElementsByTagName('input')[0];
      // inp3.value = '';
      // var inp4 = new_row.cells[4].getElementsByTagName('input')[0];
      // inp4.value = '';
      console.log(new_row);
      y.appendChild( new_row );
      rowind++;
      console.log(rowind);
      document.getElementById('arrlen').value = rowind;
      console.log("value="+document.getElementById('arrlen').value);
   
  }
  
  
  
  
</script>
 


  <form class="form-horizontal" role="form"  action="/tqf/edittqf25" method="post" id = "myForm" >	
    <br><br>    
      <p hidden>    
            <input type="text" tabindex="1"  name="arrlen" id="arrlen" value={{len}} readonly=""><br>
            <input type="text" tabindex="1"  name="acid" id="acid"  value="{{acid}}"><br>
            <input type="text" tabindex="1"  name="year" id="year" value="{{year}}"><br>
            <input type="text" tabindex="1"  name="program" id="program"  value="{{program}}"><br>
          
     </p>           
           
      <td>
        <div class="container-fluid">
        <div class="row-fluid">
        <div class="span12">
        <div class="col-md-12"> 
       
        <!--<form class="form-horizontal" role="form">-->
            <h3>Program Management</h3>
            <br>
            <div >
                <table id="tab_tqf25" class="tablesorter">
                    <thead align="center">
                        <tr>
                            <th><a>Index</a></th>
                            <th><a>Indicators</a></th>
                            <th><a>Target</a></th>
                            <th><a>Actions</a></th>
                            <th><a>Results</a></th>
                            <th>Delete</th>
                        </tr>
                        
                    </thead>
                    <tbody id="body_tqf25">
                      {{#each manage.Programmanagement}}
                        <tr>
                          <td> 1</td>
                          <td> <input type="text" class="form-control2" name="indicators" id="indicators" value="{{indicators}}"></td>
                          <td> <textarea style="width: 300px; height: 200px;" class="form-control2" rows="5" name="target" id="target" >{{target}}</textarea></td>
                          <td> <textarea style="width: 300px; height: 100px;" class="form-control2" rows="5" name="actions" id="actions" >{{actions}}</textarea></td>
                          <td> <input style="width: 300px; height: 100px;" type="text" class="form-control2" name="results" id="results" value="{{results}}"></td>
                          <td>
                            <button class="btn btn-xs btn-warning" id="delPOIbutton" value="Delete" onclick="deleteRow(this)">
                              <span class="glyphicon glyphicon-trash"></span>
                            </button>
                          </td>
                        </tr>
                      {{/each}} 
                        
                    </tbody>
                </table>
            <div class="table-foot"> 
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="btnedit" class="btn btn-mini" type="button" onclick="insRow()">Insert Row</button>
                        <button id="btnsubmit" class="btn btn-mini" type="submit">Submit</button></a>
                    </div>
                </div>
            </div>


        </div>
    </td>     



  	  
  </form>
</div>