<h2>Make <strong>{{this.docId}}</strong> visible to</h2>

<div class="col-md-6">
<form action="/document/{{this.docId}}/visibility" method="POST">
	{{#each roleGroup}}
	{{#if this.position}}
	<h3>{{this._id.type}}</h3>

	<table class="table table-hover">
		<thread>
			<tr>
				<th width="20"></th>
				<th>Position</th>
			</tr>
		</thread>
		<tbody>
			{{#each this.position}}
			<tr>
				<td><input type="checkbox" name="permitPosition[]" value="{{this}}"/></td>
				<td>{{this}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{/if}}
	{{/each}}

	<input class ="pull-right btn btn-lg btn-block btn-success" type="submit" value="save" />
</form>
</div>