
<script> 
    $('button').click(function() {
    // Find the target tab li (or anchor) that links to the content you want to show.
    $('a[href="#passive_order_categories"]').tab('show');
    //$('ul.nav-tabs li:eq(1)').tab('show');
    });

</script>
<script>
	var rowind = 1;
	function deleteRow(row)
	{
	    var i=row.parentNode.parentNode.rowIndex;
	    document.getElementById('lecTable').deleteRow(i);
	    rowind--;
        document.getElementById('arrlen').value = rowind;
        console.log("value="+document.getElementById('arrlen').value);
	}


	function insRow()
	{
		
	    console.log( 'hi');
	    var x=document.getElementById('knowledgetab');
	    var y=document.getElementById('knowledgetbody');
	    var new_row = x.rows[1].cloneNode(true);
	    var len = x.rows.length;

	    // var lec = document.getElementById("lecTable").rows[len-1].cells[1].firstChild.value;
	    // console.log("mhai_eiei"+lec);
	    // array.push(lec);
	    //new_row.cells[0].innerHTML = len;
      var inp0 = new_row.cells[0].getElementsByTagName('input')[0];
      var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
      var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
      
      
      console.log(new_row);
      y.appendChild( new_row );
      rowind++;
      console.log(rowind);
      document.getElementById('arrlen').value = rowind;
      console.log("value="+document.getElementById('arrlen').value);
	 
	}
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<br><br>
<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#active_order_categories" aria-expanded="true">Subjects</a>
        </li>
        <li class=""><a data-toggle="tab" href="#passive_order_categories" aria-expanded="false">Meetings</a>
        </li>
        <li class=""><a data-toggle="tab" href="#passive_order_categories2" aria-expanded="false">Referenced Curriculums </a>
        <li class=""><a data-toggle="tab" href="#passive_order_categories3" aria-expanded="false">Structure of Curriculum </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="active_order_categories" class="tab-pane active">
            <div class="panel-body">
            	
	            	<form class="form-horizontal" role="form">
	                {{#each teachsemes}}
	                <h5>Plan: {{_id}}</h5>
	                {{#each teach}}
					<label for="inputType" class="col-md-2 control-label">Year: {{Year}} Semester:{{semester}}</label>
					<table class="tablesorter">
					    <thead>
					        <tr>
					        <th><a href="javascript:table_sort('tab_2',1)">Subject code</a></th>
					        <th><a href="javascript:table_sort('tab_2',2)">Subject name</a></th>
					        <th><a href="javascript:table_sort('tab_2',2)">Subject credit</a></th>
					        <th><a href="javascript:table_sort('tab_2',3)">Lecturer</a></th>
					        </tr>
					    </thead>
						 <tbody>
						   
						      {{#each subject}}
						      	
						        <tr>
							        <td><a href='/admin/subjects/editsubject?id={{subcode.id}}&acid={{getacid}}'>{{subcode.sub_code}}</a></td>
							        <td>{{subcode.sub_name}}</td>
							        <td>{{subcode.sub_credit}}</td>
							        <td>
							        	{{#each subcode.sub_lecter}}
							        		{{local.title}}
							        		{{local.name}}
							        		{{local.surname}}
							        <br>
							        		
							        	{{/each}}
							        </td>		       
						        </tr>
						      
						      {{/each}}
						    
						   </tbody>
						 </table>
						<!-- end: table full--> 
						<div class="table-foot"> 
				        	<div class="pull-right">
				               
				           
							    <div class="btn-group">
							   		 <a href = "/admin/editsubprogram?id={{_id}}&acid={{ac_id}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Edit</button></a>
								</div>
								<div class="btn-group">
							   		 <a href = "/admin/delsubprogram?id={{_id}}&acid={{ac_id}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Delete</button></a>
								</div>
				 			</div>
				 		</div>
				 	<br><br>
				 	{{/each}}  		 
				 	{{/each}}  
				 	 <div class="btn-group">
					    <a href = "/admin/addsubprogram?acid={{acid}}&program={{program}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Add Program Subjects</button></a>
					</div>
	            </form>
	           <br><br>   

            </div>
        </div>

        <div id="passive_order_categories" class="tab-pane">
            <div class="panel-body">
            	<form class="form-horizontal" role="form">
	              
					
					<table class="tablesorter">
					    <thead>
					        <tr>
					        <th><a>Meeting No.</a></th>
					        <th><a>Meeting Date</a></th>
					        <th><a>No. of Participation</a></th>
					        <th><a>Percentage of Participation</a></th>
					        <th><a>Edit</a></th>
					        <th><a>Delete</a></th>
					        </tr>
					    </thead>
						 <tbody>
						   
						      	{{#each meetings}}
						        <tr>
							        <td>{{inc @index}}</td>
							        <td>{{meetingDate}}</td>
							        <td>{{noOfParticipation}}</td>
							        <td>{{percentageOfParticipation}}</td>	
							        <td><a href = ""><button id="tab_2_submit" class="btn btn-mini" type="button">Edit</button></a></td>
							        <td><a href = ""><button id="tab_2_submit" class="btn btn-mini" type="button">Delete</button></a></td>	       
						        </tr>
						      	{{/each}}
						   
						    
						   </tbody>
						 </table>
						<!-- end: table full--> 
						<div class="table-foot"> 
				        	<div class="pull-right">
				                <div class="btn-group">
								    <a href = "/admin/addmeeting?acid={{acid}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Add new meeting</button></a>
								</div>
							    
				 			</div>
				 		</div>
				 	<br><br>		 
	            </form>
            </div>
        </div>

         <div id="passive_order_categories2" class="tab-pane">
            <div class="panel-body">
            	<form class="form-horizontal" role="form">
	              
					
					<table class="tablesorter">
					    <thead>
					        <tr>
	                            <th>No.</a></th>
	                            <th>Program Name</a></th>
	                            <th>Degree</a></th>
	                            <th>University</a></th>
	                            <th>Country</a></th>
	                            <th>Websites</a></th>
	                            <th>Edit </th>
	                            <th>Delete</th>
	                        </tr>
					    </thead>
						 <tbody>
						   
						      	{{#each ref}}
						        <tr>
							        <td>{{inc @index}}</td>
							        <td>{{refProgramName}}</td>
							        <td>{{degree}}</td>
							        <td>{{university}}</td>	
							        <td>{{country}}</td>	
							        <td>{{website}}</td>	
							        <td><a href = "/aun/aun2-1/editref2-1?id={{id}}&program={{getprogram}}&acid={{getacid}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Edit</button></a></td>
							        <td><a href = "/aun/aun2-1/delref2-1?id={{id}}&program={{getprogram}}&acid={{getacid}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Delete</button></a></td>	       
						        </tr>
						      	{{/each}}						    
						   </tbody>
						 </table>
						<!-- end: table full--> 
						<div class="table-foot"> 
				        	<div class="pull-right">
				                <div class="btn-group">
								    <a href = "/aun/aun2-1/addref2-1?program={{program}}&acid={{acid}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Add new referenced</button></a>
								</div>
							    
				 			</div>
				 		</div>
				 	<br><br>		 
	            </form>
            </div>
        </div>

        <div id="passive_order_categories3" class="tab-pane">
            <div class="panel-body">
            	<form class="form-horizontal" role="form">
	              	{{#each struct}}
					<p> Plan : {{plan}}</p>
					<a href = "/aun/aun2-1/editstruct2-1?id={{id}}&program={{getprogram}}&acid={{getacid}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Edit</button></a>
					<a href = "/aun/aun2-1/delstruct2-1?id={{id}}&program={{getprogram}}&acid={{getacid}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Delete</button></a> 
					<table class="tablesorter">
					    <thead>
					        <tr>
					        <th><a>Type</a></th>
					        <th><a>Knowledge Block</a></th>
					        <th><a>Credit required</a></th>
					       

					        </tr>
					    </thead>
						 <tbody>
						 	{{#each knowledgeBlock}}
					        <tr>
					        	<td>{{type}}</td>
						        <td>{{subjectType}}</td>
						        <td>{{creditRequired}}</td>  
						         
					        </tr>
					        {{/each}}

						   </tbody>
						 </table>
					{{/each}}
						<!-- end: table full--> 
						<div class="table-foot"> 
				        	<div class="pull-right">
				                <div class="btn-group">
				                	<a href = "/aun/aun2-1/addstruc2-1?program={{program}}&acid={{acid}}"><button id="tab_2_submit" class="btn btn-mini" type="button">Add Structure</button></a>
								</div>
							    
				 			</div>
				 		</div>
				 	<br><br>		 
	            </form>
            </div>
        </div>

        
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> 
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
<script src="/javascripts/file-tree.min.js"></script>
